<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
    <property name="LOG_PATH" value="${delivery.logback.dir}"/>

    <!-- delivery 日志输出格式 -->
    <property name="OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n"/>

    <!-- 框架日志输出格式-->
    <property name="FW_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n"/>

    <!--日志文件保留最大天数-->
    <property name="MAXDAY" value="10"/>

    <!--日志文件滚动阈值-->
    <property name="MAXSIZE" value="256MB"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 根logger输出,配置日志级别 -->
    <root level="${delivery.logback.level}">
        <appender-ref ref="ROOT"/>
        <appender-ref ref="ALARM"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>